html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


.geoInfo {
    text-align: left !important;
    font-weight: 600;
}

    .geoInfo p span:first-child {
        display: inline-block;
        font-weight: 400;
        width: 25%;
        color: #ffff94
    }

.footer {
    padding: 15px;
    background-color: #212529;
    color: white !important;
    position: absolute;
    bottom: 0;
    width: 100%
}

.ipbgstyle {
    background-color: #005b11;
}